body{
	background-color: #fff;
	margin: 0;padding: 0;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;padding: 0;
}

.container{
	display: block;
	clear: both;

	&:after{
		content:"";
		display: block;
		clear: both;
		float: none; 
	}
}

.item{
	position: relative;
	display: block;
	background-color: #fff;
	float: left;
	margin: 10px;
	padding: 10px;
	border-radius:10px;
	overflow:hidden;
	border:1px solid rgba(0,0,0,0.15); 
	min-height: 40px;
	
	&:before{
		content:"";
		position: absolute;
		top: 0;left: 0;width: 100%;height: 100%;
		z-index: 0;
	}

	&.strength-1:before{
		opacity:0.25;
	}
	&.strength-2:before{
		opacity:0.5;
	}
	&.strength-3:before{
		opacity:0.75;
	}
	&.strength-4:before{
		opacity:1;
	}
	
	&.syre.strength-1,
	&.syre.strength-2{
		&:before{
			background-color: rgba(255,255,0,1);
		}
	}
	&.syre:before{
		background-color: rgba(255,0,0,1);
	}

	&.base:before{
		background-color: rgba(0,255,0,1);
	}

	.inner{
		position: relative;
		z-index: 0;
	}
}

.search{
	display: block; 
	padding: 20px 10px;
	
	&:after{
		content:"";
		display: block;
		clear: both;
		float: none;
	}

	form{
		display: block;
	}
	
	.radio-item{
		input{
			margin-right: 5px;
		}

		float: left;
		margin-right: 10px;
	}

	.form-item{
		float: left;
		width: 30%;
		padding: 0px 10px;

		@media screen and (max-width: 700px){
			width: 100%;
			padding: 10px 0px;
		}
	}
	
	input[type="text"]{
		width: 95%;
	}
	select{
		width: 100%;
	}
	
}






